@font-face {
    font-family: "SAO_UI";
    src: url("saoui.ttf");
}
body {
    font-family: "SAO_UI";
    background: black;
    user-select: none;
}
h1 {
    color: white;
}
p {
    color: white;
    font-size: 30px;
}
#nvgl {
    height: 135px;
    width: 135px;
}

.btn {
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    outline: 0;
    font-family: "SAO_UI";
    font-size: 24px;
}

.btn-blue {
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
}

.btn-green {
    background-color: lawngreen;
    border: 1px solid lawngreen;
}

.btn-red {
    background-color: darkred;
    border: 1px solid darkred;
}

.btn-gray {
    background-color: gray;
    border: 1px solid gray;
}

.subItems {
    background-color: #F2F2F2;
    color: #A6A6A6;
    cursor: pointer;
    font-size: 24px;
    height: 45px;
    margin: 2px 0;
    width: 150px;
    opacity: 0;
}

.subItems:hover {
    background-color: #FFCC00;
    color: #FFF;
}

.subItemTitle {
    vertical-align: top;
    line-height: 45px;
}

#gameDiv {
    display: block;
    left: 412px;
    top: 90px;
}

#subItemsDiv {
    display: none;
    left: 115%;
    top: 52%;
    position: absolute;
}

#selBtn {
    cursor: pointer;
}

canvas {
    background: black;
    position: absolute;
    opacity: 80%;
}

#content {
    position: absolute;
    left: 324px;
    top: 5px;
    width: 146px;
    height: 363px;
    z-index: 1;
}

#alert {
    position: absolute;
    left: 222px;
    top: 150px;
    width: 350px;
    height: 253px;
    z-index: 3;
    visibility: hidden;
}

#alert-ok {
    position: absolute;
    top: 180px;
    left: 100px;
}

#alert-cancel {
    position: absolute;
    top: 180px;
    left: 210px;
}

#alert-text {
    position: absolute;
    top: 50px;
    left: 88px;
    color: #424242;
}

#logoutBtn {
    position: absolute;
    bottom: -180px;
    right: -320px;
    z-index: 100;
    height: 50px;
    width: 50px;
}

.latest {
    width: 100%;
    overflow: hidden;
    margin-left: -320px;
    max-width: 500px;
    z-index: 99;
}

#latest-txt {
    color: #d7d7d7;
    visibility: hidden;
}

#arrow {
    position: absolute;
    left: 143px;
    top: 248px;
    width: 25px;
    height: 25px;
    z-index: 0;
    opacity: 0;
}

#gameTxt-1 {
    position: absolute;
    top: 275px;
    left: 150px;
    visibility: hidden;
}

#gameTxt-2 {
    position: absolute;
    top: 300px;
    left: 150px;
    visibility: hidden;
}